/* body */
body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: auto;
    background-color: #F0FFF0;
}

/*navbar */
.bg-nav{
	background-color: #F5FFFA !important;
}

.bg-danger-nav{
	background-color: #FF4500 !important;
}

.text-white-nav{
    color: #C0C0C0 !important;
}

.text-white-nav:hover{
	text-decoration: underline;
	color: #8A2BE2 !important;
}
/*Carousel darkened background*/
.carousel-item:after {
  content:"";
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}

.bg-danger{
    background-color: #800000 !important;
}

.bg-secondary{
    background-color: #000000 !important;
}


.bg-shadow{
    background-color: #FDF5E6;
}

.text-danger{
    color: #B22222 !important;
    letter-spacing: 3px;
    font-size: 1.2rem;
}

.btn-warning{
    background-color: #FF8C00 !important;
}
.text-custom-color{
    color: #FFE4B5 !important;
}
.phone{
    max-width: 100% !important;
    height: auto !important;
}

.animate-link:link{
    color:#ADD8E6 !important;
}

.animate-link:visited{
    color: orange !important;
}

.animate-link:hover{
    transform: scale(1.005);
    transition: transform 0.5s;
    background-color: #2F4F4F !important;
}

.animate-link:active{
    color: red !important;
}

.navbar-header{
    text-align:center !important;
}

.navbar-toggler {
    float: none !important;
    margin-right:0 !important;
}

/*media queries */
@media screen and (min-width: 768px) {
    .carousel-caption >h1{
        font-size: 70px !important;
    }
    .carousel-item{
        height: auto !important;
    }

    .carousel-caption > p{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 20px !important;
        line-height: 30px;
        font-weight: 700px;
    }

    .carousel-caption >p > span{
        background: black;
    }
}

@media screen and (max-width: 425px ){
    .carousel-caption > h1{
        font-size: 20px !important;
    }

    .carousel-caption > p{
        font-size: 15px !important;
        font-weight: bolder;
    }
}
/*End of media queries*/
.p-custom-bg{
    background-color: black;
    opacity: 0.5;
    background-size: contain;
}

.text-color{
    color: #8B0000 !important;
}

.grad-bg{
    background: linear-gradient(to bottom right, red, yellow);
}


.filter-green{
    filter: invert(20%) sepia(97%) saturate(4013%) hue-rotate(353deg) brightness(93%) contrast(127%);
}
/*
.text-center{
    display: block;

}
*/
.carousel-caption{
    transform: translateY(-50%) !important;
    bottom: initial !important;
    top: 50% !important;
}
/*
.on-hover{

    width: 150px;
    height: 150px;
    margin: 0 auto;
    color: red;
}
*/
.on-hover:hover{
    transform: scale(1.1);
    transition: transform 2s;
}

.btn-radius{
    z-index: 999;
}

/*buttons*/
.custom-style{
    width: 80px;
    padding: 25px;
}

/*about.html*/

.bg-custom-img{
    background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/static/honour_main/images/assets/webimages/about.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    height: 500px !important;
}


/* news*/
.news-bg{
    background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/static/honour_main/images/assets/webimages/news.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    height: 500px !important;
}
/*contact*/
.contact-bg{
    /**/
}


/* learning journey */
.learning-bg{
    background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/static/honour_main/images/assets/webimages/learning.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    height: 500px !important;
}

.edu-bg{
    background: #F8F8FF;
}

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}


/* leadership */
.leadership-bg{
    background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/static/honour_main/images/assets/webimages/leadership.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    height: 500px !important;
}

/*Initiative */

.initiative-bg{
    background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/static/honour_main/images/assets/webimages/initiative.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    height: 500px !important;"
}

/* Add Animation */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform: scale(0.1)}
  to {transform: scale(1)}
}

/* The Close Button */
.close {
  position: sticky;
  top: 10px;
  right: 15px;
  left: 5px;
  color: #ffffcc;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

/* leadership */


.background-light {
    background-color: #2F4F4F !important;
}

.custom-text-color{
    color: #FFFAF0;
    letter-spacing: 2px;
}

.text-shadow > h1{
    color: #FFF8DC;
    text-shadow: 3px 3px black;
}

.text-shadow > p{
    color: #FFF8DC;
    font-size: 20px;
    text-shadow: 1px 1px black;
}

/* initiative */
.bg-color{
    background-color: #F8F8FF !important;
}

.text-red{
    color: #800000 !important;
}