{% extends 'honour_main/base.html' %}
{% load static %}
{% block title %}
    Honour Ghana-Learning Journey
{% endblock title %}
{% block content %}
<!--Dark section-->
<div class="container-fluid learning-bg p-5">
    <div class="row row-12 d-flex align-items-center top-0 h-100">
        <div class="col text-white pt-3 animate__animated animate__bounceInDown text-shadow">
            <h1 class="d-flex justify-content-center pt-5">Honour Learning Journey</h1>
            <p class="lead d-flex justify-content-center">Harnessing the power of film in values education</p>
        </div>
    </div>
</div>
<!--Endof Dark Section-->

<!--Red Section-->
<div class="container-fluid bg-danger pt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-10">
            <p class="lead text-white">Highly rated by students as an experiential, inspiring and ‘never boring’ programme,
            the Honour Learning Journey showcases the most moving Honour films to inspire students toward honour,
            respect, integrity, compassion and more.
            </p>
            <p class="lead text-white">More than 300 students have been inspired to take positive action in their family, school and community with guidelines from the HGToolkit(Honour Ghana Toolkit).
            Contact us to arrange a Learning Journey for your school, and harness the power of film in values education!</p>
        </div>
    </div>
</div>
<!--End of Red Section-->
<!--Learning approach-->
<div class="container pt-5 pb-5">
    <div class="row">
        <div class="col-lg-6">
            <p class="lead fw-bold text-danger">The Honour Learning Journey with the HGToolkit:</p>
            <ul>
                <li class="text-muted"></li>

            </ul>
        </div>
        <div class="col-lg-6">
            <p class="lead fw-bold text-danger">Themes & Topics</p>
            <p class="text-muted">The featured films are a mix of fictional short films and real-life documentaries, all of which exemplify the value of honour through traits such as:</p>
            <ul class="text-muted">
                <li></li>

            </ul>
        </div>
    </div>
</div>
<!--End of Learning Approach-->
<!--Images Section-->
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-3">
            <img src="https://cdn.pixabay.com/photo/2016/09/03/09/18/girl-1641215__340.jpg" alt="honour-ghana-learning-pic-1" class="w-100">
        </div>
        <div class="col-lg-3">
            <img src="https://cdn.pixabay.com/photo/2015/07/31/11/45/library-869061__340.jpg" alt="honour-ghana-learning-pic-2" class="w-100">
        </div>
        <div class="col-lg-3">
            <img src="https://cdn.pixabay.com/photo/2015/12/15/06/42/kids-1093758__340.jpg" alt="honour-ghana-learning-pic-3" class="w-100">
        </div>
    </div>
</div>
<!--End of Images Section-->
<!--Educators Opinion-->
<div class="container p-5 edu-bg">
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <h1>WHAT EDUCATORS ARE SAYING</h1>
        </div>
    </div>
</div>
<!--End of Educators-->
<!--Students Opinion-->
<div class="container-fluid bg-danger">
    <div class="row">
        <div class="col-12 d-flex justify-content-center pt-4">
            <h1 class="text-white">WHAT STUDENTS SAY</h1>
        </div>
        <div class="col-12 d-flex justify-content-center">
            <div class="row g-0">
                <div class="col-lg-6">
                     <ul>
                        <li class="text-white">The programme is so interesting!</li>
                        <li class="text-white">Great and inspirational.</li>
                        <li class="text-white">Very meaningful.</li>
                        <li class="text-white">It speaks to the heart.</li>
                        <li class="text-white">It made me think about things I don’t normally think about.</li>
                        <li class="text-white">I realised many things which I didn’t in the past.</li>
                        <li class="text-white">It showed me the sacrifices our parents has made for us.</li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <ul>
                        <li class="text-white">It made me realise that I should honour my words and more things in life.</li>
                        <li class="text-white">The short film taught me not to look down on others and to do what is right.</li>
                        <li class="text-white">I can relate the stories to my everyday life.</li>
                        <li class="text-white">It made me see other people in a different view and realise that I</li>
                        <li class="text-white">All the short films and stories were very beneficial and have really impacted me.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-12 d-flex justify-content-center pb-5">
            <div class="row g-3">
                <div class="col-lg-3 p-2">
                    <img src="https://cdn.pixabay.com/photo/2018/07/10/10/29/girl-3528292__340.jpg" alt="img-1" class="w-100">
                </div>
                <div class="col-lg-3 p-2">
                    <img src="https://cdn.pixabay.com/photo/2016/11/14/04/06/grandmother-1822560__340.jpg" alt="img-1" class="w-100">
                </div>
                <div class="col-lg-3 p-2">
                    <img src="https://cdn.pixabay.com/photo/2017/03/27/13/17/notebook-2178656__340.jpg" alt="img-1" class="w-100">
                </div>
                <div class="col-lg-3 p-2">
                    <img src="https://cdn.pixabay.com/photo/2015/12/03/02/21/child-1073638__340.jpg" alt="img-1" class="w-100">
                </div>
            </div>
        </div>
    </div>
</div>
<!--Students Rating-->
<div class="container-fluid p-5 edu-bg">
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <h1 class="text-danger">HIGHLY RATED BY STUDENTS</h1>
        </div>
        <div class="col-12">
            #add progress bars here
        </div>
        <div class="col-12">
            <div class="row g-0">
                <div class="col-lg-4 p-2">
                    <img id="myImg" src="https://cdn.pixabay.com/photo/2021/02/03/07/37/child-5976952__340.jpg" alt="view-1" class="w-100">
                    <!-- The Modal -->
                    <div id="myModal" class="modal">
                      <span class="close">&times;</span>
                      <img class="modal-content" id="img01">
                      <div id="caption"></div>
                    </div>
                </div>
                <div class="col-lg-4 p-2">
                    <img id="myImg" src="https://cdn.pixabay.com/photo/2021/02/03/07/37/child-5976952__340.jpg" alt="view-1" class="w-100">
                    <!-- The Modal -->
                    <div id="myModal" class="modal">
                      <span class="close">&times;</span>
                      <img class="modal-content" id="img01">
                      <div id="caption"></div>
                    </div>
                </div>
                <div class="col-lg-4 p-2">
                    <img id="myImg" src="https://cdn.pixabay.com/photo/2021/02/03/07/37/child-5976952__340.jpg" alt="view-1" class="w-100">
                    <!-- The Modal -->
                    <div id="myModal" class="modal">
                      <span class="close">&times;</span>
                      <img class="modal-content" id="img01">
                      <div id="caption"></div>
                    </div>
                </div>
                <div class="col-lg-4 p-2">
                    <img id="myImg" src="https://cdn.pixabay.com/photo/2021/02/03/07/37/child-5976952__340.jpg" alt="view-1" class="w-100">
                    <!-- The Modal -->
                    <div id="myModal" class="modal">
                      <span class="close">&times;</span>
                      <img class="modal-content" id="img01">
                      <div id="caption"></div>
                    </div>
                </div>
                <div class="col-lg-4 p-2">
                    <img id="myImg" src="https://cdn.pixabay.com/photo/2021/02/03/07/37/child-5976952__340.jpg" alt="view-1" class="w-100">
                    <!-- The Modal -->
                    <div id="myModal" class="modal">
                      <span class="close">&times;</span>
                      <img class="modal-content" id="img01">
                      <div id="caption"></div>
                    </div>
                </div>
                <div class="col-lg-4 p-2">
                    <img id="myImg" src="https://cdn.pixabay.com/photo/2021/02/03/07/37/child-5976952__340.jpg" alt="view-1" class="w-100">
                    <!-- The Modal -->
                    <div id="myModal" class="modal">
                      <span class="close">&times;</span>
                      <img class="modal-content" id="img01">
                      <div id="caption"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Students Opinion-->
<!--Arrange for honour learning journey-->
<div class="container-fluid bg-dark p-5">
    <div class="row row-col-1">
        <div class="col text-white text-center p-4">
            <h1 class="pb-3">Arrange a Learning Journey for your school!</h1>
            <a href="{% url 'contact' %}" class="btn btn-lg btn-danger lead btn-radius">Contact Us</a>
        </div>
    </div>
</div>
{% endblock content %}